* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    font-size: 24px;
    color: #323B45;
    text-align: center;
    font-weight: bold;
}

.pokemon-main {
    max-width: 200px;
    height: 250px;
    border: 1px solid #48B0BD;
    background-color: #48B0BD;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin: 20px;
    border-radius: 16px;
}

.pokemon-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.pokemon-info {
    list-style: none;
}